@import "tailwindcss";


/* Disable Text Selection Globally */
body {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

/* Hide Content when Printing */
@media print {
  html, body {
    display: none !important;
    height: 0;
    overflow: hidden;
  }
}
